
<div style="text-align:center">
  <p>
    Faire un depot
  </p>
  <form [formGroup]="depotForm" (ngSubmit)="deposit()">
    <div>
      <label> Montant  : </label> 
      <input id="amount" type="number" formControlName="amount" />
  </div><br>
  <div>
    <label> libelle :  </label>
    <input id="label" type="text" formControlName="libelle" />
  </div><br>
    <button type="submit" [disabled]="!profileForm.valid"> Valider </button>
  </form>
</div>
<div style="text-align:center"><br>
  <nav>
    <a routerLink="">Solde</a> <br>
  </nav>
</div>
